<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h1>Авторизация</h1>
<div th:if="${param.error}">
    Ошибка в логине или пароле.</div>
<div th:if="${param.logout}">
    Вы вышли из системы.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Войти" />
    <br>
    <a href="/registration">Зарегистрироваться</a>
    <a href="/">Главная</a>
</form>
</body>
</html>