<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div>
    <form th:action="@{/registration}" method="post" th:object="${user}">
        <fieldset>
            <legend>Регистрация</legend>
            <div>
                <input type="text" name="username" placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Логин должен содержать от 5 до 20 символов</p>
                <div>
                    <input type="password" name="password" placeholder="Password"/>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Пароль должен содержать от 5 до 20 символов</p>
                </div>
                <div>
                    <input type="password" name="passwordConfirm" placeholder="passwordConfirm"/>
                    <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Пароли не совпадают</p>
                </div>
            </div>

            <input type="submit" value="Зарегистрироваться"/>
        </fieldset>
    </form>
</div>
</body>
</html>

